@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}




:root {
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --fonte-padr達o: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', 'cursive';
    --fonte-android: 'Android', 'cursive';

}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padr達o);
}

a.externo{
    background-color: var(--cor0);
    font-family: var(--fonte-padr達o);
}
a.externo::after{
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.527);
    
    


}

header > p {
    color: white;
    font-family: var(--fonte-padr達o);
    font-size: 1.2em;
    color: white;
    max-width: 500px;
    margin: auto;
    padding-bottom: 50px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.527);
}

 nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 9px black;

 }
nav > a {
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
}

nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor5);

}

main{
      background-color: white;
      padding: 20px;
      border-radius: 10px;

      min-width: 280px;
      max-width: 800px;
      margin: auto;

  }


main img.pequena{
    margin: auto;
}

main img{
    margin-top: 10px;
    margin-bottom: 10px;
}
main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    background-image: linear-gradient(to left, var(--cor0), var(--cor2));
    margin-bottom: 10px;
}


main h2 {
    
    color: var(--cor4);
    font-family: var(--fonte-android);
    background-image: linear-gradient(to left, var(--cor0), var(--cor2));
    margin-top: 10px;
    margin-bottom: 10px;
}
div.video{
    background-color: var(--cor5);
    /*margin-bottom: 30px;*/
    margin: 0px -20px 30px -20px;
    padding-bottom: 59%;
    position: relative;
    margin-top: 10px;
    
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px black;
    margin-bottom: 15px;
}
aside > h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside > ul {
    list-style-position: inside;
    columns: 2;
}


footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor1);

}